.donate-block-form-tabs-item{
	width: 50%;
}

.internet-payment-text{
	padding: 10px;
	border-top: 1px solid #E7E6E5;
	border-bottom: 1px solid #E7E6E5;
	font-weight: 700;
}

.internet-payment-text span{
	font-style: italic;
	font-weight: normal;
	font-size: 13px;
}


.once-right{
	flex: 1 1 auto; width: 50%; padding-left: 24px;
}

.once-left{
	flex: 1 1 auto; width: 50%; padding-right: 24px;
}

.donate-block-form-once-payment-type{
	display: flex;
	margin: 20px 0 40px 0;
	text-align: center;
}

.donate-block-form-monthly-payment-type{
	margin: 20px 0 40px 0;
	text-align: center;
}

.button-pay-once{
	background-color: #F7F6F3;
	border-color: #F7F6F3;
	font-size: 17px;
	color: #666;
	font-weight: normal;
}

.button-pay-once:hover{
	cursor: pointer;
}

.button-pay-monthly{
	background-color: #F7F6F3;
	border-color: #F7F6F3;
	font-size: 17px;
	color: #666;
	font-weight: normal;
}

.button-pay-monthly:hover{
	cursor: pointer;
}

.donate-form-back:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background: url(../images/breadcrumbs-arrow-right.svg) no-repeat;
	background-size: 100%;
	width: 10px;
	height: 10px;
	margin-left: 8px;
	margin-right: 5px;
	margin-bottom: 4px;
	-moz-transform: rotate(180deg); /* Для Firefox */
	-ms-transform: rotate(180deg); /* Для IE */
	-webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
	-o-transform: rotate(180deg); /* Для Opera */
	transform: rotate(180deg);
}

.e-money{
	margin-top: 15px;
	display: inline-block;
	background: url(../images/payments.png) no-repeat;
	background-position: 0 -60px;
	width: 187px;
	height: 50px;
}

.bank-card{
	margin-top: 15px;
	display: inline-block;
	background: url(../images/payments.png) no-repeat;
	background-position: 0 0;
	width: 222px;
	height: 50px;
}

.donate-block-form-monthly-payment-type .bank-card{
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	background: url(../images/payments.png) no-repeat;
	background-position: 0 0;
	width: 161px;
	height: 50px;
}

.donate-block-form-custom-radio input[type=radio]:checked+label {
	background-color: #EC7361;
	color: #fff;
	transition: all .2s;
}

@media (max-width: 1000px){

	.button-pay-once{
		min-height: 65px;/*58*/
		min-width: 190px;/*190*/
	}

	.e-money{
		background: url(../images/payments.png) no-repeat;
		background-size: 100%;
		background-position: 0 -33px;
		width: 140px;
		height: 30px;
	}

	.bank-card{
		background: url(../images/payments.png) no-repeat;
		background-size: 100%;
		background-position: 0 0;
		width: 172px;
		height: 30px;
	}

}

.form-control-checkbox label.red::before {
    border: 1px solid #ec7361!important;
}

.oferta-error{
	display:none;
	color: #ec7361;
	margin-top: 10px;
	margin-bottom: 0;
}