.cancer-directory-block {

}

.cancer-directory-block-nav {
  padding-top: 8px;
  background-color: #F7F6F3;

  & > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cancer-directory-block-nav-search {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 8px;

  input[type="search"] {
    width: 200px;
    height: 34px;
    line-height: 34px;
    margin-right: 15px;
    border: none;
    border-bottom: 1px solid #CFCECB;
    background: url('../images/icon-directory-search.svg') no-repeat 5px center #F7F6F3;
    padding-left: 30px;

    &:hover,
    &:focus {
      border-color: #908f8d;
    }
  }
}

.cancer-directory-block-nav-letters {
  align-self: end;
}

.cancer-directory-block-nav-letters-item {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 12px;
  width: 24px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #888888;
  border-radius: 3px 3px 0 0;

  &.active {
    background-color: #fff;
    color: #00ADF1;
    font-weight: bold;
  }
}

.cancer-directory-block-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.cancer-directory-block-search {
  position: relative;
  width: 270px;
  height: 34px;
  line-height: 34px;
  margin-bottom: 0;
}

.cancer-directory-block-search-input {
  display: block;
  float: left;
  border: 1px solid #D4D4D4;
  box-shadow: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 4px 15px 0;

  &:focus {
    border-color: @c-blue;
  }
}

.cancer-directory-block-search-button {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 34px;
  height: 34px;
  background: transparent;
  cursor: pointer;
  border: none;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  opacity: 0.7;
  transition: all 200ms;

  &:hover {
    opacity: 1;
    transition: all 200ms;
  }
}

.cancer-directory-block-title {
  font-size: 28px;
  font-weight: bold;
  color: #2B2929;
  margin-bottom: 30px;
}

.cancer-directory-block-load-more {
  padding-top: 40px;
  text-align: center;
}

.cancer-directory-block-columns {
  display: flex;
  flex-wrap: wrap;
}

.cancer-directory-block-column {
  flex: 0 0 25%;

  @media all and (max-width: 1000px) {
    flex-basis: 50%;
  }
}

.cancer-directory-block-section {
  position: relative;
  padding: 0 30px;
  margin-bottom: 20px;
}

.cancer-directory-block-letter {
  position: absolute;
  left: 0;
  line-height: 28px;
  font-weight: bold;
}

.cancer-directory-block-list {
 .ul-reset;

  li {
    a {
      color: #454545;
      line-height: 28px;

      &:hover {
        color: @c-blue-2;
      }
    }
  }
}