* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #454545;
  .ff-tahoma;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

hr {
  border: none;
  border-bottom: 1px solid #E7E6E5;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
}

.main-wrapper-column {
  flex: 1;
}